


<nav class="navbar navbar-expand-lg navbar-dark bg-dark"  style="background-color: #e3f2fd;">
  <a class="navbar-brand" routerLink="/">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="dropdown-item" routerLink="news-events" fragment="CULTURAL">CULTURAL</a> -->

        <a class="balance-check" routerLink="/balance-check">Balance <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/upload">Upload</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" routerLink="/balance-check">Balance </a> -->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/balance-report">report</a>
      </li>
    </ul>
    <span class="navbar-text">
      JC - Account Details
    </span>
  </div>
</nav>







<!-- 

<h1 id="main-content-header">{{title}}</h1>
<nav >
  <a routerLink="/upload">upload</a>
  <a routerLink="/balance-check">balance check</a>
  <a routerLink="/balance-report">report</a>

</nav>
 -->

<router-outlet></router-outlet>