<h3> Account Balance Upload</h3>
<div class="form-group">
    <!-- <mat-form-field appearance="fill">
        <mat-label>Month and Year</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field> -->

      <label>
          please upload file in following format:
          <br>
          file name should be 
          <br>
          year-month.txt
          <br>
          eg: 2020-01.txt => Upload 2020 january report.
          <br>
          file content should be as
          <br>
          accountName \t amount
          <br>
          *Account turn over is consider as month end.


      </label>
      <br>
      <br>
    <label for="file">Choose File</label>
     <input type="file"
           id="file"
           (change)="handleFileInput($event)"> 

           
<div *ngIf="statusMessage" >{{statusMessage}}</div>
</div>
